---
import { getCollection } from "astro:content";
import CardBlogPost from "~/components/CardBlogPost.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import Section from "~/components/Section.astro";
import Layout from "~/layouts/Layout.astro";
const posts = await getCollection("blog");
---

<Layout>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading-title">Blog</h1>
				<p slot="heading-content">
					Bienvenido a nuestro blog. Aquí puedes encontrar las últimas noticias y actualizaciones sobre nuestro concesionario de autos. Mantente al tanto
					de nuevas publicaciones en el blog.
				</p>
			</Heading>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 xl:gap-24">
				{posts.map((post, index) => <CardBlogPost post={post} index={index} />)}
			</div>
		</Container>
	</Section>
</Layout>
