---
import Container from "~/components/Container.astro";
import FAQ from "~/components/Faq.astro";
import Heading from "~/components/Heading.astro";
import Section from "~/components/Section.astro";
import Layout from "~/layouts/Layout.astro";

const faqItems = [
    {
        question: "¿Qué tipos de autos venden?",
        answer: "Ofrecemos una variedad de autos de lujo incluyendo sedanes, SUVs y autos deportivos de las mejores marcas.",
    },
    {
        question: "¿Puedo entregar mi auto viejo?",
        answer: "Sí, ofrecemos opciones de entrega. Nuestro equipo evaluará tu auto y proporcionará un valor justo de entrega.",
    },
    {
        question: "¿Ofrecen opciones de financiamiento?",
        answer: "Sí, proporcionamos opciones de financiamiento flexibles para hacer tu compra de auto más asequible.",
    },
];
---

<Layout pageTitle="Ventas de Autos" title="Ventas de Autos">
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h1 slot="heading-title">Ventas de Autos</h1>
				<p slot="heading-content">
					En TemplateConcesionarios, ofrecemos servicios de venta de autos de primera clase para ayudarte a encontrar el vehículo perfecto. Nuestro equipo de ventas experimentado está dedicado a proporcionarte una experiencia de compra excepcional y asegurar tu completa satisfacción.
				</p>
			</Heading>
		</Container>
	</Section>

    <Section class:list={"bg-white"}>
        <Container>
            <FAQ items={faqItems} />
        </Container>
    </Section>
</Layout>
