---
import Container from "~/components/Container.astro";
import FAQ from "~/components/Faq.astro";
import Heading from "~/components/Heading.astro";
import Section from "~/components/Section.astro";
import Layout from "~/layouts/Layout.astro";

const faqItems = [
	{
		question: "¿Qué servicios de mantenimiento ofrecen?",
		answer: "Ofrecemos una amplia gama de servicios de mantenimiento que incluyen cambios de aceite, rotaciones de neumáticos, inspecciones de frenos y verificaciones de fluidos.",
	},
	{
		question: "¿Con qué frecuencia debo hacer servicio a mi auto?",
		answer: "Se recomienda hacer servicio a tu auto cada 6 meses o 5,000 millas, lo que ocurra primero. Sin embargo, siempre consulta el manual de tu vehículo para pautas específicas.",
	},
	{
		question: "¿Ofrecen paquetes de mantenimiento?",
		answer: "Sí, ofrecemos varios paquetes de mantenimiento adaptados para satisfacer tus necesidades y asegurar que tu auto se mantenga en las mejores condiciones.",
	},
];
---

<Layout pageTitle="Mantenimiento" title="Mantenimiento">
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h1 slot="heading-title">Mantenimiento</h1>
				<p slot="heading-content">
					En TemplateConcesionarios, ofrecemos servicios de reparación de primera clase para mantener tu auto de lujo en perfectas condiciones. Nuestro equipo de técnicos calificados está equipado con las últimas herramientas y tecnología para manejar cualquier trabajo de reparación, grande o pequeño.
				</p>
			</Heading>
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<FAQ items={faqItems} />
		</Container>
	</Section>
</Layout>
