---
import Container from "~/components/Container.astro";
import FAQ from "~/components/Faq.astro";
import Heading from "~/components/Heading.astro";
import Section from "~/components/Section.astro";
import Layout from "~/layouts/Layout.astro";

const faqItems = [
    {
        question: "¿Qué tipos de reparaciones ofrecen?",
        answer: "Ofrecemos una amplia gama de servicios de reparación que incluyen diagnóstico de motor, reparaciones de frenos, servicios de transmisión y más."
    },
    {
        question: "¿Cuánto tiempo toma una reparación típica?",
        answer: "La duración de una reparación depende de la complejidad del problema. Nuestro equipo proporcionará un tiempo estimado después de diagnosticar el problema."
    },
    {
        question: "¿Utilizan piezas genuinas para las reparaciones?",
        answer: "Sí, utilizamos únicamente piezas genuinas de la más alta calidad para asegurar el mejor rendimiento y longevidad de tu vehículo."
    }
];
---

<Layout pageTitle="Reparaciones" title="Reparaciones">
    <Section class:list={"bg-gray-50"}>
        <Container>
            <Heading>
                <h1 slot="heading-title">Reparaciones</h1>
                <p slot="heading-content">
                    En TemplateConcesionarios, ofrecemos servicios de reparación de primera clase para mantener tu auto de lujo en perfectas condiciones. Nuestro equipo de técnicos calificados está equipado con las últimas herramientas y tecnología para manejar cualquier trabajo de reparación, grande o pequeño.
                </p>
            </Heading>
        </Container>
    </Section>

    <Section class:list={"bg-white"}>
        <Container>
            <FAQ items={faqItems} />
        </Container>
</Layout>