---
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import Section from "~/components/Section.astro";
import Team from "~/components/Team.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout pageTitle="Sobre Nosotros" title="Sobre Nosotros">
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h1 slot="heading-title">Sobre Nosotros</h1>
				<p slot="heading-content">
					¡Bienvenido a HyperDrive! Somos apasionados por los autos de lujo y nos dedicamos a proporcionar el mejor
					servicio a nuestros clientes. Nuestro equipo de expertos está aquí para ayudarte a encontrar el auto perfecto que se adapte
					a tus necesidades y preferencias.
				</p>
			</Heading>
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title">Nuestra Misión</h2>
				<p slot="heading-content">
					En HyperDrive, nuestra misión es ofrecer una colección exclusiva de vehículos de alta gama que combinan
					elegancia, rendimiento y sofisticación. Nos esforzamos por proporcionar una experiencia excepcional al cliente
					y asegurar que cada cliente se vaya satisfecho.
				</p>
			</Heading>
		</Container>
	</Section>

	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h2 slot="heading-title">Conoce a Nuestro Equipo</h2>
				<p slot="heading-content">
					Nuestro dedicado equipo de profesionales está aquí para ayudarte con todas tus necesidades de autos. Conoce a las
					personas detrás de HyperDrive.
				</p>
			</Heading>
			<Team />
		</Container>
	</Section>
</Layout>
