---
import SearchCars from "./forms/SearchCars.astro";
import SortCars from "./forms/SortCars.astro";
---

<div class="mb-4 flex flex-col lg:flex-row lg:items-center justify-between gap-x-4 max-lg:gap-y-4">
	<SearchCars />
	<div class="max-lg:hidden">
		<SortCars />
	</div>
</div>
