---
import IconSort from "~/assets/images/icons/sort.svg";
---

<form id="form-sort-mobile" class="max-lg:shrink-0">
	<div class="text-gray-800">
		<label class="sr-only" for="sort">Ordenar</label>
		<div class="grid grid-cols-1">
			<select
				name="sort"
				id="sort-mobile"
				class="appearance-none col-start-1 w-8 focus:outline-none row-start-1 outline-none bg-transparent"
				aria-label="Ordenar autos por"
			>
				<option value="all">Ordenar por</option>
				<option value="mileage-desc">Kilometraje: Mayor a Menor</option>
				<option value="mileage-asc">Kilometraje: Menor a Mayor</option>
				<option value="price-desc">Precio: Mayor a Menor</option>
				<option value="price-asc">Precio: Menor a Mayor</option>
				<option value="year-desc">Año: Mayor a Menor</option>
				<option value="year-asc">Año: Menor a Mayor</option>
			</select>
			<IconSort
				class="pointer-events-none text-white col-start-1 row-start-1 size-5 self-center justify-self-end"
			/>
		</div>
	</div>
</form>
