---
import IconChevronDown from "~/assets/images/icons/chevron-down-select.svg";
---

<form id="form-sort">
	<div class="lg:shrink-0">
		<div class="flex items-center gap-x-2">
			<label class="sr-only" for="sort">Ordenar</label>
		</div>
		<div class="grid grid-cols-1 max-lg:w-max ml-auto">
			<select
				name="sort"
				id="sort"
				class="appearance-none max-lg:mt-0 col-start-1 bg-transparent max-lg:outline-none outline-gray-300 row-start-1 pr-10"
			>
				<option value="all">Ordenar por</option>
				<option value="mileage-desc">Kilometraje: Mayor a Menor</option>
				<option value="mileage-asc">Kilometraje: Menor a Mayor</option>
				<option value="price-desc">Precio: Mayor a Menor</option>
				<option value="price-asc">Precio: Menor a Mayor</option>
				<option value="year-desc">Año: Mayor a Menor</option>
				<option value="year-asc">Año: Menor a Mayor</option>
			</select>
			<IconChevronDown class="icon-chevron-down" />
		</div>
	</div>
</form>
